<%- include header%>
<link rel="stylesheet" href="/assets/css/checkInfo.css" media="screen" title="no title" charset="utf-8">
<link rel="stylesheet" href="/assets/css/definedstyle.css" media="screen" title="no title" charset="utf-8">
<style media="screen">

</style>
</head>
<body>
    <header class="am-topbar am-topbar-inverse" >
        <h1 class="am-topbar-brand">
            <a href="/teacher">SDIBT</a>
        </h1>

        <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#doc-topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

        <div class="am-collapse am-topbar-collapse" id="doc-topbar-collapse">
            <ul class="am-nav am-nav-pills am-topbar-nav">
                <li class="am-active"><a href="#">首页</a></li>
            </ul>
            <div class="am-topbar-right">
            <% if(teacher){ %>
                <ul class="am-nav am-nav-pills am-topbar-nav">
                    <li class=""><a href="#">欢迎您，<%= teacher.name%></a></li>
                    <li class=""><a href="/logoutt">注销</a></li>
                    <!-- 链接触发器， href 属性为目标元素 ID -->
                    <li><button class="am-btn am-btn-primary am-topbar-btn am-btn-sm" data-am-offcanvas="{target: '#doc-oc-demo1',effect:'push'}"><span class="am-icon-navicon"></span></button></li>
                </ul>
            <%}else{%>
                <ul class="am-nav am-nav-pills am-topbar-nav">
                    <li class=""><a href="/logint">登录</a></li>
                    <li class=""><a href="/regt">注册</a></li>
                </ul>
            <%}%>
            </div>
        </div>
    </header>
    <% if (error) {%>
        <script type="text/javascript">
            alert("<%= error%>");
        </script>
    <% } %>
    <% if (success) {%>
        <div class="am-alert am-alert-success" style="width:30%; margin:0 auto;" data-am-alert>
          <button type="button" class="am-close">&times;</button>
          <p><%= success%></p>
        </div>
    <% } %>
    <div id="note-info">

    </div>
    <!-- 侧边栏内容 -->
    <div id="doc-oc-demo1" class="am-offcanvas ">
        <div class="am-offcanvas-bar am-offcanvas-bar-flip">
            <div class="am-offcanvas-content">
                <ul class="am-list admin-sidebar-list" id="collapase-nav-1" >
                    <br><br><br><br><br>
                    <li  class="am-panel" >
                        <a  href="/teacher/settings"><i class="am-icon-cog am-margin-left-sm"></i> 个人设置</a>
                    </li>

                    <li class="am-panel">
                        <a data-am-collapse="{parent: '#collapase-nav-1', target: '#user-nav'}">
                            <i class="am-icon-users am-margin-left-sm"></i> 管理班级 <i class="am-icon-angle-right am-fr am-margin-right"></i>
                        </a>
                        <ul class="am-list am-collapse admin-sidebar-sub" id="user-nav">
                            <li><a href="/teacher/addclass"><i class="am-icon-user am-margin-left-sm"></i> 添加班级 </a></li>
                            <li><a href="/teacher/classlist"><i class="am-icon-user am-margin-left-sm"></i> 班级列表 </a></li>
                        </ul>
                    </li>
                    <li  class="am-panel" >
                        <a  href="/teacher/callroll"><i class="am-icon-bomb am-margin-left-sm"></i> 开始点名</a>
                    </li>
                    <li class="am-panel">
                        <a  href="/teacher/searchlist"><i class="am-icon-chrome am-margin-left-sm"></i> 查询结果</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="courseadd">
        <% for(var i = 0; i < classes.length; i++){%>
            <a href="#" id="WoShiRongQi">
                <div class="am-panel am-panel-default courseList" id="id_<%= i%>" data-am-popover="{content: '我是<%= classes[i].course_major%>，Are You Ready?', trigger: 'hover focus'}" data-am-scrollspy="{animation: 'scale-up'}"><br>
                    <header class="am-panel-hd">
                        <h3 class="am-panel-title" style="font-size:1.5em"><%= classes[i].course_name%></h3>
                    </header>
                    <div class="am-panel-bd">
                        院系：<span><%= classes[i].course_dept%></span> <br><br>
                        专业班级：<span><%= classes[i].course_major%></span> <br><br>
                        任课老师：<span><%= classes[i].course_teacher%></span><br><br>
                    </div>
                </div>
            </a>
        <% } %>
    </div>

    <footer data-am-widget="footer"
    class="am-footer am-footer-default"
    data-am-footer="{  }" style="background:rgba(255, 255, 255, 0)">

    <div class="am-footer-miscs ">
        <p>由 <a href="http://www.crabx.site/" title="zerocode"
            target="_blank" class="">zerocode1337</a>
            提供技术支持</p>
            <p>CopyRight©2015  crabx.kevin</p>
        </div>
    </footer>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/amazeui.min.js"></script>
    <script src="/assets/js/checkInfo.js"></script>
</body>
</html>
